:root {
  --one-text-color: #303030;
  --second-text-color: #555555;
  --akcent-text-color: #9da4bd;
  --backgraund-color: #191c26;
  --akcent-detal-color: #ff6c00;
  --contrast-text-color: #ffffff;
  --decor-text-color: rgba(157, 164, 189, 0.6);
  --decor-var-text-color: rgba(157, 164, 189, 0.4);

  --font-family-one: "Open Sans", sans-serif;
  --font-family-title: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family-one);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--one-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.header,
.hero {
  background-color: #555555;
}

.header-nav-link,
.header-contakt {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--contrast-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contakt:hover,
.header-contakt:focus {
  color: var(--akcent-detal-color)
}

.button-booking {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  color: var(--one-text-color);
  cursor: pointer;
  border: 1px solid var(--akcent-detal-color);
  border-radius: 25px;
}

.button-booking.nav {
  color: var(--contrast-text-color);
}

.button-booking:hover,
.button-booking:focus {
  background-color: var(--akcent-detal-color);
}


.detal-text {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--one-text-color);
}

.detal-text.primery {
  color: rgba(157, 164, 189, 0.6);
}

.media-item {
  font-family: var(--font-family-one);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--one-text-color);
}

.media-item:hover,
.media-item:focus {
  color: var(--akcent-detal-color)
}

.hero-title {
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--contrast-text-color);
}

.hero-text {
  width: 357px;
  color: var(--akcent-text-color);
}

.section-title {
  font-family: var(--font-family-title);

  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--one-text-color);
}

.section-text {
    color: var(--second-text-color);
}

.section-comment {

  font-size: 14px;
  line-height: 1.857;
  color: var(--second-text-color);
}

.section-title.weit {
  color: var(--contrast-text-color);
  background-color: var(--second-text-color);
}
